extends layout

block content
  img(src=album.art)
  p  #{album.title}
  p #{album.artist.name}

  ul
    each song in songs
      li
        a(href=song.url) #{song.index}  #{song.title} #{song.artist.name}
        each ft in song.ft 
          #{ft.name} 
        
    else
      li there are no songs.
  hr
  p
    a(href=album.url+'/delete') Delete Album 
  p
    a(href=album.url+'/update') Update Album        
